<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Me</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html" class="active">About</a>
        <a href="experience.html">Experience</a>
        <a href="projects.html">Projects</a>
        <a href="certificate.html">Certificates</a>
    </nav>

    <main>
        <h1 class="page-title">About Me</h1>

        <div class="about-card">
            <p>
                My name is <strong>Blair Kang</strong>. I'm a student at <strong>Columbia University</strong> planning to major in <strong>Operations Research: Engineering Management Systems</strong>, graduating in <strong>May 2030</strong>. I love finding ways to improve current systems and processes, turning ideas into results, and taking initiatives. Through my past experiences, I've learned how to communicate professionally, work in a team, and collaborate with others to achieve a common goal. I am passionate about learning new skills and applying them to real-world problems. In my free time, I enjoy watching Formula One, playing cello and guitar, and watching movies. I find meaning in building relationships with people, learning alongside and from them.
            </p>
        </div>
    </main>
</body>

</html>